@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


@*<h1>@ViewData["Login"]</h1>*@

<!--Header-->
<div class="hero-wrap" style="background-image: url('https://www.salonsuccessacademy.com/wp-content/uploads/2017/04/iStock-640279638-1024x684.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-8 ftco-animate d-flex align-items-end">
                <div class="text w-100 text-center" style="color:white">
                    <h1 class="mb-4"><span>Welcome</span> Back!</h1>
                    @*<p><a href="#" class="btn btn-primary py-2 px-4">Book Now</a> <a href="#" class="btn btn-white btn-outline-white py-2 px-4">Services </a></p>*@
                </div>
            </div>
        </div>
    </div>
</div>


<!--White Space-->
<div class="container">
    <div class="row">
        @*<div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url('https://media.istockphoto.com/photos/handsome-black-man-and-ethnic-barber-in-a-luxury-barber-shop-picture-id1255879062?k=6&m=1255879062&s=170667a&w=0&h=w0EAfpE7pRNFz4zu2SUtYnyFyrtyuQ-BjD4mcbjne9I='); ">
            </div>*@
        <div class="col-md-12 wrap-about pl-md-5 ftco-animate py-5">
            <div class="heading-section">

                <!--Form-->
                <div class="row">
                    <div class="col-md-12">
                        <section>
                            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <h4>Sign In</h4>
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Input.UserName"></label>
                                    <input asp-for="Input.UserName" class="form-control" />
                                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                                </div>
                                @*<div class="form-group">
                                        <label asp-for="Input.Email"></label>
                                        <input asp-for="Input.Email" class="form-control" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>*@
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe">
                                            <input asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Log in</button>
                                </div>
                                <div class="form-group">
                                    <p>
                                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                    </p>
                                    <p>
                                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Be a Lux member</a>
                                    </p>
                                    @*<p>
                                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                        </p>*@
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


@*@section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@
