
<div class="hero-wrap" style="background-image: url('https://www.salonsuccessacademy.com/wp-content/uploads/2017/04/iStock-640279638-1024x684.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-8 ftco-animate d-flex align-items-end">
                <div class="text w-100 text-center" style="color:white">
                    <h1 class="mb-4">Check out our <span>Gallery</span>.</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2>Works of...</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 ">
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url('https://scontent.fmnl4-4.fna.fbcdn.net/v/t1.0-9/62218348_2060893677545585_1055765934167293952_o.jpg?_nc_cat=102&ccb=1-3&_nc_sid=9267fe&_nc_eui2=AeEpo_lRdHdViOgsBgxaD-VGps3J6JW7THWmzcnolbtMdc0ho-kTtAded40l_5iv52n8r8Cqdmn9IcamdFPVW3ta&_nc_ohc=3sh8-Se5LcgAX-gDPOD&_nc_ht=scontent.fmnl4-4.fna&oh=9f5e0e64ebe632e3127faea4e43a83c6&oe=606E7864');"></div>
                    <h3>Jean</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url('https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/67151959_2084346895200263_2892665224089829376_o.jpg?_nc_cat=110&ccb=1-3&_nc_sid=9267fe&_nc_eui2=AeFP-MK9YrykGzeEJjmQ_rx5oen3677LQoOh6ffrvstCgw0PK_rKSRQr9QT5BT8dyXy7eKHjkoLyUk9-QGmarkTC&_nc_ohc=V7ZS1MhFx60AX83Ac_T&_nc_ht=scontent.fmnl4-3.fna&oh=8cef08cbe4a8b94239a1f030bc02283e&oe=606C36F5')"></div>
                    <h3>Mark</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url('https://scontent.fmnl4-6.fna.fbcdn.net/v/t1.0-9/68958235_2101555713479381_8799613473756545024_o.jpg?_nc_cat=107&ccb=1-3&_nc_sid=9267fe&_nc_eui2=AeGXn9DjsrNRfqPV-vBwZhBH7OTFNz-DoGjs5MU3P4OgaNo4Du2DeWCKDJFwtzOKnmlEgm6L-4eDJ8TL-vdu3PIf&_nc_ohc=vudOZB8krGMAX-i9hZ4&_nc_ht=scontent.fmnl4-6.fna&oh=b6608ffc87cec66e29aae093f41340e8&oe=606CD03C');"></div>
                    <h3>Bart</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 ">
            </div>
        </div>
    </div>
</section>
@*//gallery*@
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url('https://scontent.fmnl4-6.fna.fbcdn.net/v/t1.0-9/44740260_1938615256440095_8968090339105570816_o.jpg?_nc_cat=109&ccb=1-3&_nc_sid=9267fe&_nc_eui2=AeEGnUT6Ems-E0AT0oXvXLqfBiZtCLg7BfkGJm0IuDsF-V8qL4bs3B3SwIekDiH0dmwA1BmSPfooTYaYDfqoAG2Q&_nc_ohc=_zYYN2E2vq4AX_KWi_X&_nc_ht=scontent.fmnl4-6.fna&oh=4343f8cc323272520554cc2ba7d6cff8&oe=606FA5F5'); ">
                    </div>
                    <div class="text text-center">
                        <span class="sale">Hot</span>
                        <h6>
                            by: Jean
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url('https://scontent.fmnl4-1.fna.fbcdn.net/v/t1.0-9/44391618_1937792053189082_7955333902497742848_o.jpg?_nc_cat=104&ccb=1-3&_nc_sid=9267fe&_nc_eui2=AeFoB89ao16Taf2CUrfm10T5VaSn98ILiYJVpKf3wguJgope6qT6adkTgHtRyvBQcmb7Zq0KHfb46oLBS1LeytPo&_nc_ohc=VQYgzbtLPl0AX9zjvX6&_nc_ht=scontent.fmnl4-1.fna&oh=043b00ab50eaa6506b3abe4a8a00b08e&oe=606F15C4'); ">
                    </div>
                    <div class="text text-center">
                        <span class="sale">Hot</span>
                        <h6>
                            by: Mark
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url('https://scontent.fmnl4-2.fna.fbcdn.net/v/t1.0-9/44398060_1937768283191459_7095928504394448896_o.jpg?_nc_cat=105&ccb=1-3&_nc_sid=9267fe&_nc_eui2=AeGzHn6i01iUsiqU3XeWWaAD0gXHJnw_IxXSBccmfD8jFSOASz57THICE0jsRumqVgS1Ui_ytcMvfzaFcfBr6UGW&_nc_ohc=yXRvXogl4kYAX9orTM6&_nc_ht=scontent.fmnl4-2.fna&oh=7eb4e1b2ee9a55437caa4a68c14d5fa5&oe=606EFC32');">
                    </div>
                    <div class="text text-center">
                        <h6>
                            by: Bart
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url('https://scontent.fmnl4-6.fna.fbcdn.net/v/t1.0-9/44472002_1937765226525098_351422457611026432_o.jpg?_nc_cat=107&ccb=1-3&_nc_sid=9267fe&_nc_eui2=AeHMu5OoHcWK5UOCDRQqRnuAr_C6qJqnrduv8Lqomqet20WoHkP-bKVsa1XsXby1fMu_t52PhXAlHjpZpI52ZIQt&_nc_ohc=iXYH11bKJUoAX96Q5pZ&_nc_ht=scontent.fmnl4-6.fna&oh=5fc0c1b06e2b4da65b724dd31a044805&oe=606F4807');">
                    </div>
                    <div class="text text-center">
                        <h6>
                            by: Jean
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        @*next row*@
        <div class="row">
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url('https://scontent.fmnl4-2.fna.fbcdn.net/v/t1.0-9/44410657_1937761633192124_1690048422427492352_o.jpg?_nc_cat=105&ccb=1-3&_nc_sid=9267fe&_nc_eui2=AeEBduPgaVNON7r27EwOh9P61tINjpFXuqPW0g2OkVe6o_1PqqUHetnIEP7Pnlrm5skBUhnL9pjAJav5MjT7KQyw&_nc_ohc=NjdaJe3vRKgAX9jP8SJ&_nc_ht=scontent.fmnl4-2.fna&oh=b33f381b3baa07c32f6d5b1592491e72&oe=606F84ED'); ">
                    </div>
                    <div class="text text-center">
                        <span class="sale">Hot</span>
                        <h6>
                            by: Jean
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center"
                         style="background-image: url('https://scontent.fmnl4-4.fna.fbcdn.net/v/t1.0-9/44428318_1937759773192310_1152033679032188928_o.jpg?_nc_cat=102&ccb=1-3&_nc_sid=9267fe&_nc_eui2=AeEqjPSbiFFnkVVfaMV88MhJnLrhsVs3F6ycuuGxWzcXrKGljOq7Tqd4W1pok5zrGj9nRhvQx7R87n4xgvbqo_xS&_nc_ohc=Xi61SAnTbL8AX8Pi3xQ&_nc_ht=scontent.fmnl4-4.fna&oh=89764040209fda7d01448b9ffc1783c0&oe=606EF85E'); ">
                    </div>
                    <div class="text text-center">
                        <h6>
                            by: Mark
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center"
                         style="background-image: url('https://scontent.fmnl4-6.fna.fbcdn.net/v/t1.0-9/44425157_1937738169861137_6104533100518178816_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=9267fe&_nc_eui2=AeGlCKCbULVZzDf0-D0L6fofF5FDCBrKyiEXkUMIGsrKITs6hj2YIRceezlORKaqya1uHID0wc4BC8iLc8BWVOxI&_nc_ohc=CF6FKAzyJaYAX_Z4szx&_nc_ht=scontent.fmnl4-6.fna&oh=15253fe10a6075b0bf1eb0923697d516&oe=606DF5E0');">
                    </div>
                    <div class="text text-center">
                        <h6>
                            by: Bart
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center"
                         style="background-image: url('https://scontent.fmnl4-6.fna.fbcdn.net/v/t1.0-9/44427386_1937751293193158_1344285314373386240_o.jpg?_nc_cat=108&ccb=1-3&_nc_sid=9267fe&_nc_eui2=AeET9yDfOx2GCqjjacp3ckXznkXhZy_E9N-eReFnL8T03_uWMteARCvC35XvI8PUcxBWOfj1HCSOBXg06wRYgbRC&_nc_ohc=oNJDTZ8rcacAX_2q2SJ&_nc_ht=scontent.fmnl4-6.fna&oh=d00ab8e3c340b05b37c798b02f44d5d0&oe=606E1ECA');">
                    </div>
                    <div class="text text-center">
                        <h6>
                            by: Bart
                        </h6>
                    </div>
                </div>
            </div>
        </div>

        @*next row*@
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="https://localhost:44367/Service/AboutUs#services" class="btn btn-primary d-block">View All Services and Products <span class="fa fa-long-arrow-right"></span></a>
            </div>
        </div>
    </div>
</section>