@model LuxMobile.Models.ContactView

@{
    ViewData["Title"] = "Contact Us";
}


<div class="hero-wrap" style="background-image: url('https://www.salonsuccessacademy.com/wp-content/uploads/2017/04/iStock-640279638-1024x684.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-8 ftco-animate d-flex align-items-end">
                <div class="text w-100 text-center" style="color:white">
                    <h1 class="mb-4">Contact <span>Us</span>.</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div>
                <br />
                <br />
                @if (ViewBag.Message == null)
                {
                    <div>
                        <form method="post">
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name"
                                      class="text-muted"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email">Email</label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email"
                                      class="text-muted"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Subject">Subject</label>
                                <input asp-for="Subject" class="form-control" />
                                <span asp-validation-for="Subject"
                                      class="text-muted"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Message">Message</label>
                                <textarea rows="5" cols="15"
                                          asp-for="Message" class="form-control"></textarea>
                                <span asp-validation-for="Message"
                                      class="text-muted"></span>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">
                                    Send
                                </button>
                            </div>

                        </form>
                    </div>
                }
                @*<br /><br />*@
            </div>
        </div>
    </div>
    <div class="thankyou" id="thankyou">
        <div class="container">
            @*<br /><br />
                <br />*@

            @if (ViewBag.Message != null)
            {
                <h3 style="text-align:center;">Your message has been received.</h3>
                <p><div class="thankyou" style="text-align:center;">@ViewBag.Message</div></p>
            }
        </div>
        <br />
        <br /><br /><br /><br /><br /><br />
    </div>
</div>
